<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <title>S T A R B O Y</title>

    <link rel="canonical" href="https://www.creative-tim.com/product/soft-ui-dashboard-pro" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />

    <link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/assets/css/nucleo-svg.css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="/assets/css/nucleo-svg.css" rel="stylesheet" />

    <link id="pagestyle" href="/assets/css/soft-ui-dashboard.min.css?v=1.1.1" rel="stylesheet" />
</head>

<body class="error-page">
    <main class="main-content  mt-0">
        <div>
            <section class="min-vh-100 d-flex align-items-center">
                <div class="container">
                    <div class="row mt-lg-0 mt-8">
                        <div class="col-lg-5 my-auto">
                            <h1 class="display-1 text-bolder text-gradient text-warning fadeIn1 fadeInBottom mt-5">Error
                                500</h1>
                            <h2 class="fadeIn3 fadeInBottom opacity-8">Something went wrong</h2>
                            <p class="lead opacity-6 fadeIn2 fadeInBottom">We suggest you to go to the homepage while we
                                solve this issue.</p>
                            <button type="button" class="btn bg-gradient-warning mt-4 fadeIn2 fadeInBottom"
                                onclick="window.location.href='/'">Go to Homepage</button>
                        </div>
                        <div class="col-lg-6 my-auto">
                            <img class="w-100 fadeIn1 fadeInBottom"
                                src="/assets/img/illustrations/error-500.png" alt="500-error">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>


    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>

    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script src="/assets/js/soft-ui-dashboard.min.js?v=1.1.1"></script>
</body>

</html>