<div class="row">
    <div class="col-12 col-lg-5 mx-auto mt-5">
        <div class="card p-3 bg-white">
            <h5 class="font-weight-bolder mb-0">About Customer</h5>
            <p class="mb-0 text-sm">Mandatory informations</p>
            <div class="row mt-3">
                <div class="col-12">
                    <label>Full Name</label>
                    <input class="form-control" type="text" id="name" placeholder="eg. Nguyen Van A">
                </div>
                <div class="col-12 mt-3">
                    <label>Phone Number</label>
                    <input class="form-control" type="email" id="phone" placeholder="eg. 0987654321">
                </div>
            </div>
            <div class="button-row d-flex mt-4">
                <button class="btn bg-gradient-dark ms-auto mb-0" type="button"
                    onclick="registerCustomer()">Next</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Created -->
<div class="modal fade" id="createdModal" tabindex="-1" role="dialog" aria-labelledby="success-modal"
    aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <div class="swal2-icon swal2-success swal2-icon-show" style="display: flex;">
                        <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);">
                        </div>
                        <span class="swal2-success-line-tip"></span> <span class="swal2-success-line-long"></span>
                        <div class="swal2-success-ring"></div>
                        <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                        <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);">
                        </div>
                    </div>
                    <h3 id="modal-created-title" class="font-weight-bolder opacity-9 mt-4"></h3>
                    <p id="modal-created-msg"></p>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <button type="button" class="btn bg-gradient-info me-2 change-screen"
                        onclick="window.location.href='/pos'">Go POS</button>
                    <button type="button" class="btn bg-gradient-success change-screen"
                        onclick="window.location.reload();">Continue Regist</button>
                </div>
            </div>
        </div>
    </div>
</div>