<main class="main-content mt-0 ps">
    <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg"
        style="background-image: url('/assets/img/curved-images/curved8.jpg');">
        <span class="mask bg-gradient-dark opacity-6"></span>
    </div>
    <div class="container">
        <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="info mb-2">
                            <img class="avatar avatar-xxl" alt="Image placeholder" src="/assets/img/locked-icon.png">
                        </div>
                        <h6 class="mb-2 font-weight-bolder">Trouble logging in?</h6>
                        <p class="mb-4 text-xs">
                            Enter your gmail, phone, or account_id and we'll send you a link to
                            get back into your account.
                        </p>
                        <form role="form">
                            <div class="mb-3">
                                <input type="text" id="resetInput" class="form-control"
                                    placeholder="Gmail, Phone or Account ID">
                            </div>
                            <div class="text-center">
                                <button type="button" id="resetBtn" class="btn bg-gradient-dark w-100 mt-2 mb-4"
                                    disabled onclick="passwordReset()">Send login link</button>
                            </div>
                            <p class="text-sm mt-3 mb-0">
                                <a href="/login" class="text-dark">Back to login</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>